@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267 25% 10%;
    --foreground: 0 0% 98%;
    --card: 267 25% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 267 25% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 267 39.2% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 267 25% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 267 25% 20%;
    --muted-foreground: 270 10% 65%;
    --accent: 340 82.3% 61.6%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 267 25% 20%;
    --input: 267 25% 20%;
    --ring: 267 39.2% 55%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 267 25% 10%;
    --foreground: 0 0% 98%;
    --card: 267 25% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 267 25% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 267 39.2% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 267 25% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 267 25% 20%;
    --muted-foreground: 270 10% 65%;
    --accent: 340 82.3% 61.6%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 267 25% 20%;
    --input: 267 25% 20%;
    --ring: 267 39.2% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
